*
  border-radius: 0 !important;
  outline: none;
  box-shadow:none !important;

button:focus
  border-radius: 0 !important;
  outline: none;
  box-shadow:none !important;

input[type='text']
  border: solid 2px #88d1a5
  width: 200px

.ig-item-img
  width: 350px;
  width: 350px;
  padding: 10px;

.ig-item-container
  width: 350px;
  width: 350px;
  padding: 10px;
  display: inline;
  position: relative;

.ig-item-info
  position: absolute;
  background-color: #2f2f2f;
  color: #fff;
  height: 80px;
  opacity: 0.75;
  z-index: 99999;
  width: 332px;
  margin-top: 260px;
  margin-left: -345px;

.ig-item-user-img
  width: 80px;

.topbar
  background-color: #88d1a5
  height: 40px

.search-form
  margin-top: 30px

  button
    width: 40px
    height: 40px

  .input-group
    width: 250px
    margin-left: 8px

    button
      border-color: #88d1a5
      border-width: 2px
      border-left-width: 0
      height: 40px
      color: #88d1a5

  input
    border-color: #88d1a5
    border-width: 2px
    height: 40px

  input:focus
    border-color: #88d1a5

  button.search-type
    background-color: gray
    padding: 0

  button.search-type.active
    background-color: #88d1a5

  .city-select
    width: 250px

    button.city
      width: 202px
      text-align: left
      margin-left: 8px
      border: solid 2px #88d1a5

    button.city:hover
      background-color: #FFF
      border: solid 2px #88d1a5

    button.dropdown-toggle
      border: solid 2px #88d1a5
      border-left-width: 0

    button.dropdown-toggle:active
      background-color: #FFF

.navbar
  p.username
    margin-top: 30px

  img.logo
    margin-top:15px
    margin-bottom: 15px

  .profile
    margin-top: 15px
    p
      display: inline

  .dropdown
    display: inline

  .profile-photo
    display: inline-block
    width: 60px
    height: 60px
    margin-left: 8px
    border: solid 2px #88d1a5

  .menu-links
    margin-top: 15px
    a
      font-size: 16px
      text-decoration: none
      color: #000
    a:hover
      text-decoration:underline

#main
  margin-top: 180px

span.new-board
  color: #88d1a5
  font-size: 24px
  cursor: pointer

hr
  margin-top: 0

.board-item
  position: relative;

  img
    width: 350px;
    height: 350px;
    margin-bottom: 20px;

  .title
    color: #FFF
    position: absolute;
    top: 0;
    width: 350px;
    padding: 8px;
    opacity: .4;
    background-color: #000
    font-size: 18px

