<div>
  <div class="row">
    <div class="col-md-6">
      <div class="h2">my boards ({{boards.length}})</div>
    </div>
    <div class="col-md-6" style="margin-top:15px">
      <div class="pull-right">
        <span class="new-board" ng-show="!newBoardMode" href="#" ng-click="newBoardMode=true">+ new board</span>
        <form class="form-inline" ng-show="newBoardMode==true" ng-submit="saveBoard()">
          <input type="text" class="form-control" placeholder="Board Name" ng-model="newBoardName" />
          <button type="submit" ng-show="false" />
        </form>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="board-item" ng-repeat="board in boardColumns[0]">
        <img ng-src="{{board.url}}" />
        <div class="title">{{board.name}}<span class="pull-right" ng-click="removeBoard(board)" style="cursor: pointer;">X<span></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="board-item" ng-repeat="board in boardColumns[1]">
        <img ng-src="{{board.url}}" />
        <div class="title">{{board.name}}<span class="pull-right" ng-click="removeBoard(board)" style="cursor: pointer;">X<span></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="board-item" ng-repeat="board in boardColumns[2]">
        <img ng-src="{{board.url}}" />
        <div class="title">{{board.name}}<span class="pull-right" ng-click="removeBoard(board)" style="cursor: pointer;">X<span></div>
      </div>
    </div>
  </div>
</div>
