<div>
  <div class="row">
    <div class="col-md-6">
      <div class="h2">my boards</div>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <span ng-show="!newBoardMode" href="#" ng-click="newBoardMode=true">new board</span>
        <form class="form-inline" ng-show="newBoardMode==true" ng-submit="saveBoard()">
          <input type="text" class="form-control" placeholder="Board Name" ng-model="newBoardName" />
          <button type="submit" ng-show="false" />
        </form>
      </div>
    </div>
  </div>
  <hr />
  <span ng:repeat="board in boards">
    <div class="ig-item">
      <img ng-src="{{board.url}}" class="ig-item" />
    </div>
  </span>
</div>
