
<div>
  <link type="text/css" rel="Stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link type="text/css" rel="Stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link type="text/css" rel="Stylesheet" asset-url="css/nstagram" />
  <div class="navbar navbar-default navbar-fixed-top" role="navigation", ng-controller="GlobalCtrl">
    <div class="topbar"></div>
    <div class="container navbar-inner">
      <div class="col-md-4">
        <img src="https://dl.dropboxusercontent.com/u/7446385/nstagram/nstagram_logo.png" width="300" height="73" class="logo" />
      </div>
      <div class="col-md-4">
        <form class="form-inline search-form" ng-submit="executeSearch()">
          <button type="button" class="btn btn-default search-type" ng-class="{active:searchType=='geo'}" ng-click="searchType='geo'">
            <img src="https://dl.dropboxusercontent.com/u/7446385/nstagram/nstagram_icon_geotag.png" />
          </button>
          <button type="button" class="btn btn-default search-type" ng-class="{active:searchType=='hashtag'}" ng-click="searchType='hashtag'">
            <img src="https://dl.dropboxusercontent.com/u/7446385/nstagram/nstagram_icon_hashtag.png" />
          </button>
          <div class="form-group">
            <div class="btn-group city-select" ng-show="searchType=='geo'">
			  <select ng-model="city" ng-options="c.name for c in cities" ng-change="executeSearch()"></select>

			  <!--
			  <button type="button" class="btn btn-default city">{{searchCity}}</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Seattle</a></li>
                <li><a href="#">Los Angeles</a></li>
                <li><a href="#">New York</a></li>
                <li><a href="#">San Francisco</a></li>
                <li><a href="#">Miami</a></li>
              </ul>
              -->
            </div>
            <div class="input-group" ng-show="searchType=='hashtag'">
              <input type="text" class="form-control" ng-model="searchTerm" placeholder="{{searchType=='hashtag' ? 'search by hashtag' : 'search by geotag'}}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search fa-lg"></i>
                </button>
              </span>
            </div><!-- /input-group -->
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <div class="nav pull-right profile">
          <p class="lead username">Logged in as {{username}}</p>
          <div class="menu-links">
            <a href="#" ng-click="viewMyBoards($event)">My Boards</a>&nbsp;|&nbsp;<a href="/login">Logout</a>
          </div>
          <!-- <div class="dropdown">
            <button class="dropdown-toggle">
              <img class="profile-photo dropdown-toggle" ng-src="{{profilePicture}}" />
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="location.path('boards')">My Boards</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Logout</a></li>
            </ul>
           </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section id="main" ng-view></section>
  </div>
</div>
