
<link type="text/css" rel="Stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<style type="text/css">
  body {
    background-image: url('https://dl.dropboxusercontent.com/u/7446385/nstagram/nstagram_splash_bg.jpg');
    background-size: 1000px 996px;
    background-repeat: repeat-x;
    height: 100%;
  }

  div.popup {
    background-image: url('https://dl.dropboxusercontent.com/u/7446385/nstagram/nstagram_splash_popup.png');
    background-size: 763px 371px;
    width: 763px;
    height: 371px;
    margin: auto;
    margin-top: 150px;
    position: relative;
  }

  a.login {
    position: absolute;
    display: block;
    top: 278px;
    left: 382px;
    width: 294px;
    height: 38px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="popup">
        <a class="login" href="/auth"></a>
      </div>
    </div>
  </div>
</div>
